body {
    background-color: #b6e2dd;
}

* {
    margin: 0px;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.calcolatore {
    height: 560px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px violet;

}

.frase {

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        align-items: center;
        color: #f1f8f7;
        display: flex;
        font-family: Shadows Into Light,regular;
        justify-content: center;
        text-align: center;
}

.output {
    background-color: rgb(248, 236, 189);
    border-radius: 40px;
    height: 90px;
}

.result {
    color: rgb(143 188 117);
    font-size: 25px;
    height: 40px;
    display: block;
    text-align: right;
    padding-right: 20px;
}

.input {
    color: rgb(255 255 255);
    font-size: 40px;
    height: 40px;
    display: block;
    text-align: right;
    padding-right: 20px;

}

.keys {
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 8px;
}

.keys button:first-child {
    color: #ffffff;
    grid-column-end: 3;
    grid-column-start: 1;
    background-color: #fbb39d;
  }

  .keys button:nth-child(2) {
    color: #ffffff;
    background-color: #fbc99d;
  }

  .keys button:nth-child(3) {
    color: #ffffff;
    background-color: #fbc99d;
  }

  .keys button:nth-child(7) {
    color: #ffffff;
    background-color: #fbc99d;
  }

  .keys button:nth-child(11) {
    color: #ffffff;
    background-color: #fbc99d;
  }

  .keys button:nth-child(15) {
    color: #ffffff;
    grid-row: 4 / 6;
    grid-column: 4 / 4;
    background-color: #fba09d;
  }

  .keys button:nth-child(16) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

button {
    border: none;
    font-size: 28px;
    min-width: 80px;
    min-height: 65px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fbdf9d;
  }
  button:hover {
    color: white;
    background-color: #e9e5af;
  }

  h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
  }



