@tailwind base;
@tailwind components;
@tailwind utilities;

#bottone {
  @apply box-border h-20 w-20 border-4 rounded-full m-5  bg-white
}

body {
  background-color: #b6e2dd;
}

* {
  margin: 0;
  padding: 0;
}